<!DOCTYPE html>
<html lang="en">

<head>
    <title>Torflix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="stream.js"></script>
    <script src="ajax.service.js"></script>
    
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <form>
        <div class="form-group">
            <label>Enter magnet URL of torrent</label>
            <br><br>
            <input class="form-control" ng-model="magnetInput" type="text">
            <br><br>
            <button type="button" id="streamBtn" class="btn btn-success" ng-click="onStream()">Stream</button>
        </div>
</body>